[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "site-lisp/origami.el"]
	path = site-lisp/origami.el
	url = git@github.com:elp-revive/origami.el.git
[submodule "site-lisp/hl-todo"]
	path = site-lisp/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "site-lisp/git-overlay"]
	path = site-lisp/git-overlay
	url = git@github.com:qdzhang/git-overlay.git
[submodule "site-lisp/too-long-lines-mode"]
	path = site-lisp/too-long-lines-mode
	url = git@github.com:qdzhang/too-long-lines-mode.git
[submodule "site-lisp/firefox-bookmarks"]
	path = site-lisp/firefox-bookmarks
	url = git@github.com:tangxinfa/firefox-bookmarks.git
[submodule "site-lisp/beacon"]
	path = site-lisp/beacon
	url = git@github.com:Malabarba/beacon.git
[submodule "site-lisp/el2markdown"]
	path = site-lisp/el2markdown
	url = git@github.com:Lindydancer/el2markdown.git
[submodule "site-lisp/editcmacro"]
	path = site-lisp/editcmacro
	url = git@github.com:Lindydancer/editcmacro.git
[submodule "site-lisp/tiny"]
	path = site-lisp/tiny
	url = git@github.com:abo-abo/tiny.git
