[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "site-lisp/origami.el"]
	path = site-lisp/origami.el
	url = git@github.com:elp-revive/origami.el.git
[submodule "site-lisp/hl-todo"]
	path = site-lisp/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "site-lisp/ivy-unicode"]
	path = site-lisp/ivy-unicode
	url = https://github.com/qdzhang/ivy-unicode
